{
  "presets": ["react-native-stage-0/decorator-support"],
  "plugins": [
    ["babel-plugin-inline-import", {
      "extensions": [
        ".schema.js"
      ]
    }]
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"],
      "sourceMaps": "inline"
    },
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
